<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="base.html">Главная</a>
    <a href="{% url 'selected_names' %}"> 1 условие задания</a>
    <a href="{% url 'excluded_people' %}">2 условие задания </a>
    <h2> 1. Выберите только часть колонок из таблицы.</h2>
    <h2>2. Поступите обратным способом: исключите из выборки определённые
        значения из таблицы.</h2>
</body>
</html>